.footer{
    color: #fff;
    text-align: left;
}
.icon-div{
    cursor: pointer;
    background-color: rgba(250, 250, 250, 0.1);
    color: #fff;
    height: 30px;
    width: 15%;
    border-radius: 2px;
}
.input-control{
    background-color: rgba(250, 250, 250, 0.1);
    border: 1px solid transparent;
    outline: none;
}
.input-control:focus{
    border: 1px solid #ffc107;
}